<odoo>
    <!-- Main Menu -->
    <menuitem
        id="root"
        name="LIMS"
        sequence="10"
        groups="group_lims_user_own"
        web_icon="lims,static/description/icon.png"
    />
    <menuitem id="dashboard" name="Dashboard" sequence="10" parent="root" />
    <menuitem id="operations" name="Operations" sequence="20" parent="root" />
    <menuitem id="data" name="Master Data" sequence="30" parent="root" />
    <menuitem
        id="reporting"
        name="Reporting"
        sequence="40"
        parent="root"
        groups="group_lims_manager"
    />
    <menuitem
        id="config"
        name="Configuration"
        sequence="100"
        parent="root"
        groups="group_lims_manager"
    />
    <!-- Dashboard Menu -->
    <menuitem
        id="menu_lims_dash_laboratory"
        name="Laboratories"
        action="action_laboratory_dashboard"
        parent="dashboard"
        sequence="10"
        groups="group_lims_laboratory"
    />
    <menuitem
        id="menu_lims_dash_team"
        name="Teams"
        action="action_team_dashboard"
        parent="dashboard"
        sequence="20"
        groups="group_lims_team"
    />
    <menuitem
        id="menu_lims_dash_order"
        name="Analysis"
        action="action_lims_dash_order"
        parent="dashboard"
        sequence="30"
    />
    <!-- Operations Menu -->
    <menuitem
        id="menu_lims_operation_batch"
        name="Batches"
        action="action_lims_operation_batch"
        parent="operations"
        sequence="10"
        groups="group_lims_batch"
    />
    <menuitem
        id="menu_lims_operation_order"
        name="Analysis"
        action="action_lims_operation_order"
        parent="operations"
        sequence="20"
    />
    <menuitem
        id="menu_lims_operation_order_test"
        name="Tests"
        action="action_lims_operation_order_test"
        parent="operations"
        sequence="30"
    />
    <menuitem
        id="menu_lims_specimen"
        name="Specimens"
        action="action_lims_specimen"
        parent="operations"
        sequence="40"
    />
    <menuitem
        id="menu_lims_result"
        name="Results"
        action="action_lims_result"
        parent="operations"
        sequence="50"
    />
    <!-- Master Data Menu -->
    <menuitem
        id="menu_lims_customer"
        name="Customers"
        action="action_lims_customer"
        parent="data"
        sequence="10"
    />
    <menuitem
        id="menu_lims_physician"
        name="Physicians"
        action="action_lims_physician"
        parent="data"
        sequence="20"
    />
    <menuitem
        id="menu_lims_operator"
        name="Operators"
        action="action_lims_operator"
        parent="data"
        sequence="30"
    />
    <menuitem
        id="menu_lims_instrument"
        name="Instruments"
        action="action_lims_instrument"
        parent="data"
        sequence="40"
        groups="group_lims_instrument"
    />
    <menuitem
        id="menu_lims_template"
        name="Templates"
        action="action_lims_template"
        parent="data"
        sequence="90"
        groups="group_lims_template"
    />
    <!-- Reporting Menu -->
    <menuitem
        id="menu_lims_report_result"
        name="Results"
        action="action_lims_report_result"
        parent="reporting"
        sequence="10"
    />
    <menuitem
        id="menu_lims_report_order_test"
        name="Tests"
        action="action_lims_report_order_test"
        parent="reporting"
        sequence="20"
    />
    <menuitem
        id="menu_lims_report_order"
        name="Analysis"
        action="action_lims_report_order"
        parent="reporting"
        sequence="30"
    />
    <menuitem
        id="menu_lims_report_instrument"
        name="Instruments"
        action="action_lims_report_instrument"
        parent="reporting"
        sequence="40"
        groups="group_lims_instrument"
    />
    <!-- Configuration Menu -->
    <menuitem
        id="settings"
        name="Settings"
        sequence="10"
        parent="config"
        action="action_lims_config"
    />
    <menuitem
        id="menu_lims_loinc_code"
        name="LOINC Codes"
        action="action_lims_loinc_code"
        parent="config"
        sequence="20"
    />
    <menuitem
        id="menu_lims_stage"
        name="Stages"
        action="action_lims_stage"
        parent="config"
        sequence="30"
    />
    <menuitem
        id="menu_lims_laboratory"
        name="Laboratories"
        action="action_lims_laboratory"
        parent="config"
        sequence="40"
        groups="lims.group_lims_laboratory"
    />
    <menuitem
        id="menu_lims_test"
        name="Tests"
        action="action_lims_test"
        parent="config"
        sequence="50"
    />
    <menuitem
        id="menu_lims_method"
        name="Methods"
        action="action_lims_method"
        parent="config"
        sequence="60"
    />
    <!-- Config / Orders -->
    <menuitem
        id="menu_lims_config_order"
        name="Analysis"
        parent="config"
        sequence="70"
    />
    <menuitem
        id="menu_lims_tag"
        name="Tags"
        action="action_lims_tag"
        parent="menu_lims_config_order"
        sequence="10"
        groups="lims.group_lims_tag"
    />
    <!-- Config / Operators -->
    <menuitem
        id="menu_lims_config_operator"
        name="Operators"
        parent="config"
        sequence="80"
    />
    <menuitem
        id="menu_lims_team"
        name="Teams"
        action="action_team_settings"
        parent="menu_lims_config_operator"
        sequence="10"
        groups="lims.group_lims_team"
    />
</odoo>
